<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Defence Housing Soceity</title>
    <link rel="icon" href="/img/logo200.png" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />

    <style>
      /* Your provided CSS styles */
      /* ... */
      /* Add your table styles below */

      /* Responsive Table */
      .responsive-table-container {
        /* margin-top: 85px; */
        /* Adjust margin to clear the navbar */
        transition: margin-left 0.5s ease; /* Add transition for smooth adjustment */
        overflow-x: auto; /* Enable horizontal scrolling if needed */
        margin-left: 22rem;
        padding: 61px 20px 30px 0px;
      }

      .responsive-table {
        width: 110%;
        border-collapse: collapse;
        /* margin-top: 61px; */
        /* margin-left: 1px; */
        /* margin-bottom: 2rem; */
      }

      .responsive-table th,
      .responsive-table td {
        padding: 12px;
        border: 1px solid #ddd;
      }

      .responsive-table th {
        background-color: #f0f0f0;
        font-weight: bold;
        text-align: left;
      }

      .responsive-table tbody tr:nth-child(even) {
        background-color: #f9f9f9;
      }

      .responsive-table tbody tr:hover {
        background-color: #e0e0e0;
      }

      /* Adjust table cell padding for responsiveness */
      @media (max-width: 768px) {
        .responsive-table th,
        .responsive-table td {
          padding: 8px;
        }
      }

      .eye_icon {
        border: none;
        background-color: transparent;
        font-size: 20px;
      }
    </style>
  </head>
  <body>
    <!-- Sidebar -->
    <%- include('partials/navbar') %>
    <!-- Sidebar content -->

    <!-- Main Content -->
    <div id="searchContainer" class="d-flex">
      <input
        class="form-control me-2"
        type="search"
        placeholder="Search"
        aria-label="Search"
        id="searchInput"
        style="width: 25%"
      />
      <button class="btn btn-outline-primary" type="submit" id="searchButton">
        Search
      </button>
    </div>

    <div
      id="content"
      class="responsive-table-container"
      style="margin-top: 0rem"
    >
      <table class="responsive-table">
        <thead>
          <tr>
            <th>S.No</th>
            <th>Member details</th>
            <th>Project details</th>
            <th>Receipt No.</th>
            <th>Total Amount</th>
            <th>Action</th>
            <!-- Add more columns as needed -->
          </tr>
        </thead>
        <tbody id="tableBody">
          <!-- Table rows will be dynamically populated -->
        </tbody>
      </table>
    </div>
    <div id="pagination" class="pagination"></div>
<<<<<<< HEAD

=======
>>>>>>> d500354 (added nodemodules)
    <script>
      function navigateToconlett(user_pk) {
        const shareCertUrl = `/confirm?user_pk=${user_pk}`;
        window.location.href = shareCertUrl;
      }
<<<<<<< HEAD

      function viewAffidavit(userId) {
=======
       function viewAffidavit(userId) {
        console.log("view afffidavit user id",userId)
>>>>>>> d500354 (added nodemodules)
        // Open the affidavit PDF in a new tab
        const url = `https://adminpanel.defencehousingsociety.com/receipt/get_affidavit?user_id=${userId}`;
        // const url = `http://localhost:4000/receipt/get_affidavit?user_id=${userId}`;
        window.open(url, "_blank");
      }

      document.addEventListener("DOMContentLoaded", () => {
        const pageSize = 5; // Number of rows per page
        let currentPage = 1;
        let data = []; // Array to store all data

        fetch("/receipt/view_sitebooking")
          .then((response) => response.json())
          .then((apiData) => {
            data = apiData; // Store fetched data
            renderTable(); // Render initial table
          })
          .catch((error) => {
            console.error("Error fetching data:", error);
          });

        function renderTable() {
          const startIndex = (currentPage - 1) * pageSize;
          const endIndex = startIndex + pageSize;
          const paginatedData = data.slice(startIndex, endIndex);
          const tableBody = document.getElementById("tableBody");
          tableBody.innerHTML = ""; // Clear existing rows

          paginatedData.forEach((item, index) => {
            const formattedAmount = formatNumber(item.name8); // Format the amount
            const row = `
                    <tr>
                      <td>${startIndex + index + 1}</td>
                        <td>${item.name1}  </td>
                        <td>${item.name1}<br>${item.name16}</td>
                        <td>${item.name14}</td>
                       <td>${formattedAmount}/-</td>
                        <td class = "view-history-button">
                         <i class="fas fa-eye" data-userid="${
                           item.id
                         }" onclick="navigateToconlett('${item.id}')"></i>
                         <i class="fas fa-file-pdf" data-userid="${
                           item.user_fk
                         }" onclick="viewAffidavit('${item.user_fk}')"></i> 
                           <i class="fas fa-edit edit-button"
                           data-userpk="${item.id}" 
                           data-toggle="tooltip" 
                           title="Edit items"
                               style="cursor: pointer;"></i>
                        </td>
                        </td>
                    </tr>
                `;
            // tableBody.innerHTML += row;
            tableBody.insertAdjacentHTML("beforeend", row);
          });
          renderPagination();
        }

        function renderPagination() {
          const totalPages = Math.ceil(data.length / pageSize);
          const paginationElement = document.getElementById("pagination");
          paginationElement.innerHTML = "";

          // Check if pagination is needed (totalPages > 1)
          if (totalPages > 1) {
            // Determine the range of pages to display
            const numPagesToShow = 5; // Adjust this number as needed
            let startPage = Math.max(
              1,
              currentPage - Math.floor(numPagesToShow / 2)
            );
            let endPage = Math.min(totalPages, startPage + numPagesToShow - 1);

            // Adjust startPage and endPage if necessary to ensure we have numPagesToShow pages
            if (endPage - startPage + 1 < numPagesToShow) {
              startPage = Math.max(1, endPage - numPagesToShow + 1);
            }

            // Render previous button
            if (currentPage > 1) {
              renderPaginationButton("«", currentPage - 1);
            }

            // Render page numbers
            for (let i = startPage; i <= endPage; i++) {
              if (i === currentPage) {
                renderPaginationButton(`<b>${i}</b>`, i);
              } else {
                renderPaginationButton(i, i);
              }
            }

            // Render next button
            if (currentPage < totalPages) {
              renderPaginationButton("»", currentPage + 1);
            }
          }
        }

        // Function to render a pagination button
        function renderPaginationButton(label, page) {
          const paginationElement = document.getElementById("pagination");
          const pageLink = document.createElement("a");
          pageLink.href = "#";
          pageLink.innerHTML = label;
          pageLink.addEventListener("click", () => {
            currentPage = page;
            renderTable();
          });
          paginationElement.appendChild(pageLink);
        }

        function handleSearch() {
          const searchInput = document
            .getElementById("searchInput")
            .value.trim()
            .toLowerCase();
          const filteredData = data.filter((item) => {
            // Customize this condition based on your search requirements
            return item.name1.toLowerCase().includes(searchInput);
          });
          renderFilteredTable(filteredData);
        }

        function renderFilteredTable(filteredData) {
          const tableBody = document.getElementById("tableBody");
          tableBody.innerHTML = ""; // Clear existing rows
          // Calculate the index of the first item on the current page
          const startIndex = (currentPage - 1) * pageSize;
          console.log(startIndex);
          // Reset overall index based on the start index of the current page
          overallIndex = startIndex;

          filteredData.forEach((item) => {
            const formattedAmount = formatNumber(item.name8); // Format the amount

            const row = document.createElement("tr");

            // Populate table cells with filtered user data
            row.innerHTML = `
                        <td>${overallIndex + 1}</td>
                        <td>${item.name1}  </td> 
                        <td>${item.name1}<br>${item.name16}</td>
                        <td>${item.name14}</td>
                        <td>${formattedAmount}/-</td>                        
                        <td class = "view-history-button">
                         <i class="fas fa-eye" data-userid="${
                           item.id
                         }" onclick="navigateToconlett('${item.id}')"></i>
                         <i class="fas fa-file-pdf" data-userid="${
                           item.user_fk
                         }" onclick="viewAffidavit('${item.user_fk}')"></i> 
                        <i class="fas fa-edit edit-button"
                           data-userpk="${item.id}" 
                           data-toggle="tooltip" 
                           title="Edit items"
                               style="cursor: pointer;"></i>
                        </td>
    `;

            // Append the row to the table body
            tableBody.appendChild(row);

            // Increment overall index
            overallIndex++;
          });
        }

        // Event listener for search button click
        document
          .getElementById("searchButton")
          .addEventListener("click", handleSearch);
      });

      function redirectToRecPage(index) {
        // Redirect to /rec page
        window.location.href = "/confirm";
      }

      function performAction(index) {
        // Add your action code here
        console.log("Action performed for row:", index + 1);
      }

      const formatNumber = (number) => {
        const formatter = new Intl.NumberFormat("en-IN");
        return formatter.format(number);
      };
    </script>
    <script>
      document
        .getElementById("tableBody")
        .addEventListener("click", function (event) {
          if (event.target.classList.contains("edit-button")) {
            event.preventDefault();
            const user_pk = event.target.getAttribute("data-userpk");
            console.log(user_pk, "userpkkkkk");

            // const user_pro_pk = event.target.getAttribute('data-userprojectpk')
            // console.log('USER ID FETCHED in edit button', user_pk)
            const EditViewUserUrl = `/editviewsitebooking/${user_pk}`;
            // const EditViewUserUrl = `/editViewsiteBooking`;
            window.location.href = EditViewUserUrl;
          }
        });
    </script>
    <!-- JavaScript and additional content -->
    <!-- Include your JavaScript files and other content here -->
  </body>
</html>
